@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 56% 93%;
    --foreground: 210 9% 31%;
    --card: 212 50% 98%;
    --card-foreground: 210 9% 31%;
    --popover: 212 50% 98%;
    --popover-foreground: 210 9% 31%;
    --primary: 209 62% 65%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 8.9% 64.9%;
    --accent: 257 62% 71%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 209 62% 71%;
    --chart-1: 209 62% 71%;
    --chart-2: 257 62% 71%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 212 50% 98%;
    --sidebar-foreground: 210 9% 31%;
    --sidebar-primary: 209 62% 65%;
    --sidebar-primary-foreground: 210 40% 9.8%;
    --sidebar-accent: 212 56% 89%;
    --sidebar-accent-foreground: 210 9% 31%;
    --sidebar-border: 214.3 31.8% 88%;
    --sidebar-ring: 209 62% 71%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 209 62% 71%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 257 62% 71%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 20%;
    --input: 217 33% 17%;
    --ring: 209 62% 71%;
    --chart-1: 209 62% 71%;
    --chart-2: 257 62% 71%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 209 62% 71%;
    --sidebar-primary-foreground: 210 40% 9.8%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 20%;
    --sidebar-ring: 209 62% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
